
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
 
 * {
    font-family: 'League Spartan', sans-serif;
}

body{
    font-size: 15px;
    padding-top: 200px;
    background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    height: 100vh;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.mini-text{
    color:hsl(303, 10%, 53%);
}

.bold{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.testimonial-box{
    background-color: hsl(300, 43%, 22%);
    color: white;
    padding: 40px;
    border-radius: 5px;

}

.rating-box{
    background-color: hsl(300, 24%, 96%);
    margin: 10px;
    border-radius: 10px;
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 30px;
}

.checked {
    color: orange;
}

.review-star{
    padding: 10px;
    font-weight: 500;
}

img{
    border-radius: 50%;
    height: 50px;
}

.speech{
    margin-top: 20px;
    margin-bottom: 20px;
}


.intro-text{
    margin-bottom: 50px;
}

.buyer-type{
    color: hsl(333, 80%, 67%);
    margin: 0;
}

.buyer-name{
    margin: 0;
    text-align: left;
}


.column-wrapper {
    column-count: 3;
    column-gap: 20px;
}
  
.column1 {
    break-before: column;
}
  
.column2 {
break-before: column;
margin-top: 20px;
}

.column3 {
break-before: column;
margin-top: 40px;
}
  

/* media queries for Mobile: 375px and Desktop: 1440px */

@media screen and (max-width: 375px) { 
    body{
        font-size: 15px;
        padding-top: 50px;
    }

    .bold{
        font-weight: bold;
        text-align: center;
    }

    .mini-text{
        text-align: center;
    }

    .column-wrapper {
        column-count: 1;
    }
    
    .column1,
    .column2,
    .column3 {
    break-before: auto;
    margin-top: 10px;
    }

    .rating-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-star {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    p.review-star{
        margin-top: 10px;
    }



    .review-star span {
        margin-right: 5px;
    }

    .buyer-name, .buyer-type{
        padding-left: 10px;
    }

    img{
        height: 40px;
    }

    #text{
        padding-top: 5px;
    }

 }


 /* Styles for desktop devices with a minimum width of 1440px */
@media screen and (min-width: 1440px) {
    
  }



