@font-face {
    font-family: League Spartan;
    src: url(LeagueSpartan-Regular.ttf);
 }
 
 * {
    font-family: League Spartan;
    font-weight: 400, 500, 700;
 }

body{
    color: black;
    font-size: 15px;
    padding-top: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.purple-text{
    color: hsl(300, 43%, 22%);
    font-weight: 900;
}

.testimonial-box{
    background-color: hsl(300, 43%, 22%);
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.rating-box{
    background-color: hsl(300, 24%, 96%);
    margin: 10px;
    border-radius: 5px;
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 30px;
}

.checked {
    color: orange;
}

.review-star{
    padding: 10px;
}

img{
    border-radius: 50%;
    height: 40px;
}

.speech{
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonials{
    column-gap: 30px;
}

.intro-text{
    margin-bottom: 50px;
}

.buyer-type{
    color: hsl(333, 80%, 67%);
    margin: 0;
}

.buyer-name{
    margin: 0;
    text-align: left;
}


